$header-font: Helvetica, sans-serif;
$para-font: Times, serif;

$header-color: #00ff00;
$para-color: #0000ff;

h1 {
  font-family: $header-font;
  color: $header-color;
}

p {
  font-family: $para-font;
  color: $para-color;
}
